body{
    background-color: black;
}
h1{
    color: white;
}
#gameover{
    margin-top: 10%;
    border-style: solid;
    border-color: aliceblue;
    justify-content: center;
}
img{
    width: 60px;
    height: 60px;
}
.button {
    margin-top: 20%;
    background-color: #2ac991; /* Green */
    border: hidden;
    border-radius: 20%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button a{
    color: honeydew;
  }
  .btn1{
    margin-top: 10%;
  }
  